<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.proj" value="qegoo"/>
	<Property name="log.base" value="/home/java/logs/${log.proj}"/>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="logfile"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/${log.proj}_${log.proj}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/${log.proj}_%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>300MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<root level="error">
		<!--<appender-ref ref="logfile"/>-->
		<appender-ref ref="stdout"/>
	</root>
</configuration>