<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 基础设置 -->
    <settings>
        <!-- changes from the defaults，全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。 -->
        <setting name="lazyLoadingEnabled" value="false" />
        <!--开启自动映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="User" type="com.java.domain.User"/>
        <typeAlias alias="UserInfo" type="com.java.domain.UserInfo"/>
        <typeAlias alias="CrawlTag" type="com.java.domain.CrawlTag"/>
        <typeAlias alias="OfficePriceTag" type="com.java.domain.OfficePriceTag"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/UserInfoMapper.xml"/>
        <mapper resource="mapper/CrawlTagMapper.xml"/>
        <mapper resource="mapper/CityMapper.xml"/>
    </mappers>
</configuration>